@font-face {
    font-family: 'Formula1';
    src: url('/fonts/Formula1-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: url('/fonts/Formula1-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Formula1', sans-serif;
    margin: 0px;
    background-color: #15151E;
    color: white;
}

.divSuperior {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

#back {
    width: 4vw;
}

#f1logo {
    margin-left: auto;
    margin-right: 2em;
}

.container-teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4em;
    padding: 1em;
    gap: 3em;
    width: 80%;
    margin-left: 7%;
}

.alpineTeam {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-bottom-right-radius: 10px;
    height: 10vh;
    margin-bottom: 1em;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.alpineTeam:hover {
    transform: scale(1.05);  
}

.superiorTeams {
    display: flex;
    flex-direction: row;
}

#teamName {
    margin-top: 0px;
}

.color {
    background-color: rgb(31, 137, 243);
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.color2 {
    background-color: #01c00e;
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.color3 {
    background-color: rgb(33, 127, 220);
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.color4 {
    background-color: #229971;
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.color5 {
    background-color: #f47600;
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.color6 {
    background-color: rgb(27, 109, 191);
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.color7 {
    background-color: red;
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.color8 {
    background-color: aquamarine;
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.color9 {
    background-color: rgb(95, 154, 212);
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.color10 {
    background-color: rgb(146, 146, 146);
    height: 1.5em;
    width: 14%;
    margin-bottom: 1.5em;
}

.car {
    width: 320%;
    margin-top: -1em;
    margin-left: 1em;
}

.datos-team {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 80vh;
    background-color: rgba(24, 23, 23, 0.336);
    margin-left: 10vw;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10vh;
    border-radius: 30px;
    backdrop-filter: blur(10px);
  }

  .datos-team.mostrar {
    opacity: 1;
    pointer-events: all;
  }

.descriptionTeam {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logoTeam {
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

#logoImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textDescription {
    text-align: center;
    justify-content: center;
}

#textID {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.5em;
    font-weight: 300;
}

.driversTeam {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}

.leftZone {
    width: 50%;
    justify-content: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.rightZone {
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.driverTargetOne {
    width: 90%;
    height: 90%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

.driverImage {
    height: 50%;
    width: 100%;
}

.imageStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.driverInfo {
    color: black;
    margin-left: 5%;
}

.driverNumber {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.driverName {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.7em;
}

.driverTeam {
    margin-top: 0px;
    font-weight: 300;
    margin-bottom: 2.5em;
    font-size: 1.4em;
}