@font-face {
    font-family: 'Formula1';
    src: url('../fonts/Formula1-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: url('../fonts/Formula1-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Formula1', sans-serif;
    margin: 0px;
}

#principalDiv {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.backgroundImage {
    width: 100%; 
    height: 100%;  
    object-fit: cover; 
    opacity: 0.7;
    z-index: 1;
}

.logIn {
    width: 40%;
    height: 73%;
    margin-top: 5%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    position: absolute;   /* lo saca del flujo y lo posiciona encima */
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.384);
    box-shadow: 0 0 10px 5px rgba(246, 64, 64, 0.202);
}

#divLogo {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

#f1Logo {
    width: 25%;
}

#divTexto {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
}

#divForm {
    width: 70%; 
    margin-left: 15%;
}

#divForm form{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.inputStyle {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 3em;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: white;
    outline: none;  
}

.buttonStyle {
    width: 40%;
    margin-left: 30%;
    font-size: 1.5em;
    font-family: 'Formula1';
    background-color: #FF1E00;
    color: white;
    padding: 20px 6px;
    border: 1px solid white;
    border-radius: 22px;
    margin-top: 0.5em;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.buttonStyle:hover {
    transform: scale(1.05);  
}

@media (max-width: 430px) {
    .logIn {
        width: 80%;
        margin-left: 10%;
        margin-top: 16%;
    }

    #f1Logo {
        width: 40%;
    }

    #divTexto {
        color: white;
        text-align: center;
        font-size: 1.3em;
        margin-top: 1em;
    }

    .buttonStyle {
        width: 70%;
        margin-left: 15%;
        font-size: 1.2em;
    }
}